@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
} 

h1 {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

nav {
  padding-top: .7rem;
  padding-right: 2rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a:hover {
  color: white;
  background-color: black;
}

.card {
  border-bottom: solid;
  padding: 1rem;
}

.card:hover {
  background-color: #edf6f6;
}

.image-grid {
  display: flex;
  gap: 1rem;
}

.image-grid img{
  max-height: 5rem;
}

.hobbies ul {
  display: flex;
  flex-flow: row wrap;
}

.hobbies li {
  list-style: none;
  padding: 1rem;
}

.hobbies a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}

.rick-roll {
  background-image: url(https://media.giphy.com/media/kHGxZUxfTTInkeybFo/giphy.gif?cid=790b7611ta35mu191czo7xlf37muiml4a0a24rrq3s9wfibs&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}



